include ./minion-header.jade

#package-states

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.serverId = "#{server.id}";
script(src='/javascript/manager/minion/packages/package-states.renderer.bundle.js?cb=#{webVersion}', type='text/javascript')

script(type='text/javascript').
    window.pageRenderers.minion.packages.renderer(
        'package-states',
        {
            serverId: "#{server.id}"
        }
    );
